<div
  class="flex flex-col gap-2 bg-app-background-green text-app-background-white h-full"
  data-theme="light"
>
  <!-- Statistics -->
  <div
    class="stats stats-vertical w-full gap-2 shadow-sm md:stats-horizontal shrink-0 overflow-visible"
  >
    <!-- Total -->
    <app-tasks-status-card
      icon="total"
      title="Total Tasks"
      [value]="totalTasks()"
      [description]="'All your tasks'"
      (click)="openModalTodosDetailsFlag('total')"
    >
      @if (todosDetailsFlag() === 'total') {
        <app-total-tasks-details-modal [todos]="todos()" (closed)="todosDetailsFlag.set(null)" />
      }
    </app-tasks-status-card>

    <!-- Pending -->
    <app-tasks-status-card
      icon="pending"
      title="Pending"
      [value]="totalPendingTasks()"
      [description]="'Tasks waiting to start'"
      (click)="openModalTodosDetailsFlag('pending')"
    >
      @if (todosDetailsFlag() === 'pending') {
        <app-pending-tasks-details-modal [todos]="todos()" (closed)="todosDetailsFlag.set(null)" />
      }
    </app-tasks-status-card>

    <!-- In Progress -->
    <app-tasks-status-card
      icon="in_progress"
      title="In Progress"
      [value]="totalInProgressTasks()"
      [description]="'Currently working on'"
      (click)="openModalTodosDetailsFlag('in_progress')"
    >
      @if (todosDetailsFlag() === 'in_progress') {
        <app-inprogress-tasks-details-modal
          [todos]="todos()"
          (closed)="todosDetailsFlag.set(null)"
        />
      }
    </app-tasks-status-card>

    <!-- Completed -->
    <app-tasks-status-card
      icon="completed"
      title="Completed"
      [value]="totalCompletedTasks()"
      [description]="completionRate() + '% completion rate'"
      (click)="openModalTodosDetailsFlag('completed')"
    >
      @if (todosDetailsFlag() === 'completed') {
        <app-completed-tasks-details-modal
          [todos]="todos()"
          (closed)="todosDetailsFlag.set(null)"
        />
      }
    </app-tasks-status-card>
  </div>

  <!-- Main Dashboard -->
  <div class="flex flex-col overflow-y-auto">
    <div class="grid gap-2 lg:grid-cols-3 items-start">
      <!-- Today's Tasks -->
      <div class="card shadow-sm lg:col-span-2">
        <div class="card-body">
          <!-- Header -->
          <div class="flex items-center justify-between gap-4">
            <div>
              <h2 class="card-title">Today's Tasks</h2>
              <p class="mt-1 text-sm">Tasks you need to focus on today.</p>
            </div>

            @if (todaysTasks().length !== 0) {
              <button
                class="btn btn-sm bg-app-button-purple hover:bg-app-button-hover-gray border-none"
                (click)="openCreateTodoFormDialog()"
              >
                <svg lucidePlus />
                <span class="hidden sm:inline">Add Todo</span>
              </button>
            }
          </div>

          <!-- Tasks -->
          <div class="mt-5 flex flex-col gap-2">
            @for (todo of displayedTodaysTasks(); track todo.id) {
              <div
                class="group flex items-center hover:bg-app-button-hover-gray text-app-text-white gap-4 rounded-sm p-4 transition cursor-pointer"
                (click)="selectedTodo.set(todo); openTodoDetail()"
              >
                <!-- Task information -->
                <div class="min-w-0 flex-1">
                  <h3
                    class="truncate font-medium"
                    [class.line-through]="todo.status === 'completed'"
                  >
                    {{ todo.name }}
                  </h3>

                  @if (todo.description) {
                    <p class="mt-1 truncate text-sm">
                      {{ todo.description }}
                    </p>
                  }
                </div>

                <!-- Status -->
                @switch (todo.status) {
                  @case ('pending') {
                    <app-tasks-status-badge status="Pending" />
                  }

                  @case ('in_progress') {
                    <app-tasks-status-badge status="In Progress" />
                  }

                  @case ('completed') {
                    <app-tasks-status-badge status="Completed" />
                  }
                }
              </div>
            } @empty {
              <div class="flex items-center justify-center py-12">
                <img src="images/stick-man-thumbs-up.png" alt="No Tasks" />

                <div class="flex flex-col">
                  <p class="text-md italic">You don't have any tasks</p>
                  <p class="text-md italic">assigned for today.</p>

                  <button
                    class="mt-4 btn btn-sm bg-app-button-purple size-fit hover:bg-app-button-hover-gray border-none"
                    (click)="openModal.set('create-todo-dialog')"
                  >
                    <svg lucidePlus />
                    <span class="hidden sm:inline">Add Todo</span>
                  </button>

                  @if (openModal() === 'create-todo-dialog') {
                    <app-create-task-dialog (cancelled)="openModal.set(null)"/>
                  }
                </div>
              </div>
            }
          </div>

          <!-- Footer -->
          <div class="flex mt-4 justify-end">
            <a
              routerLink="/tasks"
              class="flex gap-1 items-center hover:bg-app-button-hover-gray rounded-sm px-2"
            >
              View all tasks
              <svg lucideArrowRight [size]="17" class="mb-1" />
            </a>
          </div>
        </div>
      </div>

      <!-- Progress -->
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Your Progress</h2>
          <p class="text-sm">Keep up the good work!</p>

          <div class="h-10"></div>

          <!-- Radial progress -->
          <div class="flex flex-col items-center">
            <div
              class="radial-progress text-[#00D3BB] bg-[#0E6261] hover-shadow-drop-center cursor-grab"
              style="--size: 10rem; --thickness: 9px"
              [style.--value]="completionRate()"
              [attr.aria-valuenow]="completionRate()"
              role="progressbar"
            >
              <span class="text-2xl text-app-text-white font-bold"> {{ completionRate() }}% </span>
            </div>

            <p class="mt-5 text-sm">
              <span class="font-semibold">
                {{ totalCompletedTasks() }}
              </span>
              of
              <span class="font-semibold">
                {{ totalTasks() }}
              </span>
              tasks completed
            </p>
          </div>
        </div>
        <!-- Progress footer -->
        <div class="flex flex-col mt-2">
          <div class="flex items-center justify-between text-sm">
            <span class=""> Overall progress </span>
            <span class="font-medium"> {{ completionRate() }}% </span>
          </div>

          <progress
            class="progress progress-accent mt-2 w-full"
            [value]="completionRate()"
            max="100"
          ></progress>
        </div>
      </div>
    </div>

    <!-- Upcoming Tasks -->
    <div class="card">
      <div class="card-body">
        <!-- Header -->
        <div class="flex items-center justify-between">
          <div>
            <h2 class="card-title">Upcoming Tasks</h2>

            <p class="mt-1 text-sm">What's coming next?</p>
          </div>

          <!-- <a routerLink="/tasks" class="btn btn-sm"> View all </a> -->
        </div>

        <!-- Table -->
        <div class="mt-4 overflow-x-auto">
          <table class="table">
            <thead class="text-app-text-white">
              <tr>
                <th>Task</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              @for (upcomingTodo of upcomingTodos(); track upcomingTodo.id) {
                <tr
                  class="group transition hover:bg-app-button-hover-gray hover:rounded-2xl cursor-pointer"
                  (click)="selectedTodo.set(upcomingTodo); openTodoDetail()"
                >
                  <td class="rounded-l-md">
                    <div class="font-medium">{{ upcomingTodo.name }}</div>
                  </td>

                  <td>
                    <div
                      class="font-medium"
                      [class.text-[#68F8B5]]="upcomingTodo.priority === 'low'"
                      [class.text-[#FFD580]]="upcomingTodo.priority === 'medium'"
                      [class.text-[#FF9B9B]]="upcomingTodo.priority === 'high'"
                    >
                      {{ upcomingTodo.priority }}
                    </div>
                  </td>

                  <td>{{ formatDateTime(upcomingTodo.duedate) }}</td>

                  <td class="rounded-r-md">
                    @switch (upcomingTodo.status) {
                      @case ('pending') {
                        <app-tasks-status-badge status="Pending" />
                      }
                      @case ('in_progress') {
                        <app-tasks-status-badge status="In Progress" />
                      }
                      @case ('completed') {
                        <app-tasks-status-badge status="Completed" />
                      }
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
