  <mat-sidenav-container class="h-screen">
    <!-- Sidebar -->
    <mat-sidenav #sidenav mode="side" opened class="w-52!">
      <div class="flex flex-row p-6 justify-between">
        <h1 class="text-xl font-bold">Todo App</h1>
      </div>

      <mat-nav-list>  
        <a mat-list-item routerLink="/overview">
          <mat-icon matListItemIcon>home</mat-icon>
          <span matListItemTitle>Home</span>
        </a>

        <a mat-list-item routerLink="/tasks">
          <mat-icon matListItemIcon>check_circle</mat-icon>
          <span matListItemTitle>Todos</span>
        </a>

        <a mat-list-item routerLink="/dashboard">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>

        <a mat-list-item routerLink="/settings">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Settings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="flex! flex-col! h-full! overflow-hidden!">
      <!-- Header container-->
      <div class="px-6 pt-6 w-full shrink-0">
        <div class="overflow-hidden flex flex-col">
          <div class="flex flex-row items-center gap-6">
            <button mat-icon-button (click)="sidenav.toggle()" class="flex! cursor-pointer">
              <mat-icon>menu</mat-icon>
            </button>
            <h1 class="text-3xl font-bold">Tasks</h1>
          </div>
          <p class="mt-1 text-gray-500 ps-12">Manage your todos and stay organized.</p>
        </div>
      </div>
      <div class="min-h-0 flex-1 overflow-y-auto">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
