@if (!selectedTodo()) {
  @for (todo of todos(); track todo.id) {
    <div
      class="flex items-center gap-3 p-2.5 hover:bg-app-background-hover cursor-pointer rounded-lg transition-colors duration-200"
      [class.slide-in-right]="isEnteringDetail()"
      (click)="selectedTodo.set(todo)"
    >
      @switch (icon()) {
        @case ('completed') {
          <svg lucideCircleCheck />
        }
        @case ('pending') {
          <svg lucideClock5 />
        }
        @case ('overdue') {
          <svg lucideTriangleAlert />
        }
        @case ('upcoming') {
          <svg lucideCalendarClock />
        }
        @case ('high_priority') {
          <svg lucideFlagTriangleRight />
        }
        @case ('due_today') {
          <svg lucideAlarmClock />
        }
        @case ('in_progress') {
          <svg lucideCircleEllipsis />
        }
        @case ('completed_today') {
          <svg lucideBadgeCheck />
        }
        @case ('completed_this_week') {
          <svg lucideCalendarCheck />
        }
      }
      <p class="truncate text-sm font-medium">{{ todo.name }}</p>
    </div>
  } @empty {
    <div
      class="flex h-full flex-col items-center justify-center gap-2 text-center"
      [class.slide-in-right]="isEnteringDetail()"
    >
      <svg lucideGhost />

      <p class="text-sm font-semibold">{{ titleWhenEmpty() }}</p>

      <p class="text-xs text-base-content/60">{{ descriptionWhenEmpty() }}</p>
    </div>
  }
} @else {
  <div
    class="relative flex h-50 min-h-50 flex-col bg-app-background-white p-4"
    [class.slide-in-right]="isEnteringDetail()"
  >
    <div class="min-h-0 flex-1 text-app-text-green overflow-y-auto overflow-x-hidden pr-2">
      <h3 class="text-base font-bold leading-tight">
        {{ selectedTodo()?.name }}
      </h3>

      @if (selectedTodo()?.description) {
        <p class="mt-2 wrap-break-word text-sm leading-relaxed italic text-base-content/65">
          {{ selectedTodo()?.description }}
        </p>
      } @else {
        <p class="mt-2 text-sm italic text-base-content/40">No description provided.</p>
      }
    </div>

    <div class="flex gap-2 absolute bottom-2 right-4">
      <button type="button" class="btn btn-ghost btn-sm gap-1.5 hover:bg-app-background-hover" (click)="selectedTodo.set(null)">
        <span>Back</span>
      </button>
      <a routerLink="/tasks" class="btn btn-sm btn-accent hover:bg-app-background-hover gap-1.5 shadow-sm">
        <span>Go to Tasks</span>
      </a>
    </div>
  </div>
}
