<div
  class="fixed inset-0 z-100 bg-black/20 flex items-center justify-center p-4"
  (click)="cancelled.emit()"
>
  <!--Modal-->
  <div
    class="flex flex-col px-6 pt-6 bg-app-background-white text-app-text-green w-full max-w-md h-100 rounded-md"
    (click)="$event.stopPropagation()"
  >
    <!--Modal header-->
    <div class="flex justify-between">
      <div class="flex flex-col gap-1">
        <p class="text-2xl font-bold">Create Todo</p>
        <p>Create a new task and keep yourself organized.</p>
      </div>
      <svg
        lucideX
        class="cursor-pointer hover:rounded-md hover:bg-gray-300"
        (click)="cancelled.emit()"
      />
    </div>

    <!--Modal Content-->
    <form class="flex flex-col gap-6 mt-5">
      <!--Task name-->
      <input type="text" placeholder="Task name" class="border-b me-2 h-7 text-lg outline-none" />

      <!--Task Description-->
      <input type="text" placeholder="Description" class="border-b me-2 h-7 text-lg outline-none" />

      <!--Task Priority-->
      <div class="flex items-center justify-start gap-3 text-[17px]">
        <span>Priority</span>

        <label class="flex items-center text-sm gap-1">
          <input type="radio" name="priority" value="low" />
          Low
        </label>

        <label class="flex items-center text-sm gap-1">
          <input type="radio" name="priority" value="medium" />
          Medium
        </label>

        <label class="flex items-center text-sm gap-1">
          <input type="radio" name="priority" value="high" />
          High
        </label>
      </div>

      <div class="flex flex-wrap gap-6 text-[17px]">
        <!--Task Due date-->
        <label class="inline-flex items-center gap-3">
          Due date
          <input type="date" class="border-b h-7 w-35 outline-none bg-transparent" />
        </label>

        <!--Task Due time-->
        <label class="inline-flex items-center gap-3">
          Due time
          <input type="time" class="border-b h-7 w-35 outline-none bg-transparent" />
        </label>
      </div>
    </form>

    <!--Modal Footer-->
    <div class="flex justify-end gap-3 mt-auto pb-5">
      <button
        class="btn btn-ghost gap-1.5 hover:bg-app-background-hover"
        (click)="cancelled.emit()"
      >
        Cancel
      </button>
      <button class="btn btn-accent hover:bg-app-background-hover"
      >Save</button>
    </div>
  </div>
</div>
